<div class="main-wrapper">
  <div class="main-container">

    <div class="question-container">
      <%= render 'question', { question: @question } %>
    </div>

    <div class="answer-form-container">
      <%= form_with model: [@question, @answer], local: true do |form| %>
        <%= form.text_area :content, placeholder: "回答する",class: "answer-content" %>
        <%= form.text_field :user_name, placeholder: "ユーザー名", class: "answer-name" %>
        <%= form.submit "ANSWER", class: "answer-btn" %>
      <% end %>
    </div>







<% @answers.each do |answer| %>
<div>
  回答：<%= answer.content %>
</div>
<div>
  投稿者：<%= answer.user_name %>
</div>
<% end %>

  </div>
</div>