<div class="main-wrapper">
  <div class="main-container">

    <div class="question-container">
      <%= render partial: 'question', locals: { question: @question } %>
    </div>

    <div class="answer-form-container">
      <%= form_with model: [@question, @answer], local: true do |form| %>
        <%= form.text_area :content, placeholder: "回答する",class: "answer-content" %>
        <%= form.text_field :user_name, placeholder: "ユーザー名", class: "answer-name" %>
        <%= form.submit "ANSWER", class: "answer-btn" %>
      <% end %>
    </div>

    <div class="answers-container">
      <% @answers.each do |answer| %>
        <div class="answer">
          <div class="answer__name">
            回答者：<%= answer.user_name %>
          </div>
          <div class="answer__content">
            <%= answer.content %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>